In [6]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp

#load in dataframe
population = pd.read_csv("C:\\Users\\Brady\\OneDrive\\Python Programs\\MATH 210\\Sherry_Project2\\population_data.csv")

#drop unnecessary columns
population = population.drop(['Country Code', 'Indicator Name'], axis = 1)

#tranpose the dataframe to get it in the form that we want
population = population.T.reset_index()

#replace the column indices with the desired column headers
population.columns = population.iloc[0]
population = population[1:]
population.reset_index(drop=True, inplace=True)

#rename the 'Country Name' column to 'Year'
population.rename(columns={'Country Name': 'Year'}, inplace=True)

#filter down to columns of need
population = population[['Year', 'Guyana', 'Germany', 'Palau', 'Madagascar', 'Ethiopia', 'Angola', 'Nauru']]

population.tail(32)

,Year,Guyana,Germany,Palau,Madagascar,Ethiopia,Angola,Nauru
32,1992,744998.0,80624598.0,16004.0,12623342.0,52011554.0,12632507.0,10129.0
33,1993,747189.0,81156363.0,16380.0,13020100.0,53791672.0,13038270.0,10226.0
34,1994,749546.0,81438348.0,16770.0,13436121.0,55620211.0,13462031.0,10274.0
35,1995,751689.0,81678051.0,17209.0,13869138.0,57476536.0,13912253.0,10316.0
36,1996,753571.0,81914831.0,17732.0,14317454.0,59347649.0,14383350.0,10345.0
37,1997,755211.0,82034771.0,18297.0,14778903.0,61233480.0,14871146.0,10363.0
38,1998,756697.0,82047195.0,18852.0,15250934.0,63136493.0,15366864.0,10377.0
39,1999,758014.0,82100243.0,19380.0,15730885.0,65077579.0,15870753.0,10383.0
40,2000,759051.0,82211508.0,19726.0,16216431.0,67031867.0,16394062.0,10377.0
41,2001,759809.0,82349925.0,19828.0,16709665.0,69018932.0,16941587.0,10363.0
42,2002,760323.0,82488495.0,19851.0,17211934.0,71073215.0,17516139.0,10351.0
43,2003,760562.0,82534176.0,19880.0,17724310.0,73168838.0,18124342.0,10344.0
44,2004,760424.0,82516260.0,19907.0,18250774.0,75301026.0,18771125.0,10335.0
45,2005,759709.0,82469422.0,19831.0,18792171.0,77469940.0,19450959.0,10318.0
46,2006,758367.0,82376451.0,19619.0,19350299.0,79691050.0,20162340.0,10294.0
47,2007,756521.0,82266372.0,19366.0,19924958.0,81996185.0,20909684.0,10267.0
48,2008,754150.0,82110097.0,19102.0,20513599.0,84357105.0,21691522.0,10243.0
49,2009,751258.0,81902307.0,18826.0,21117092.0,86755585.0,22507674.0,10233.0
50,2010,747932.0,81776930.0,18540.0,21731053.0,89237791.0,23364185.0,10241.0
51,2011,744230.0,80274983.0,18240.0,22348158.0,91817929.0,24259111.0,10283.0
52,2012,743966.0,80425823.0,17946.0,22966240.0,94451280.0,25188292.0,10444.0
53,2013,747420.0,80645605.0,17805.0,23588073.0,97084366.0,26147002.0,10694.0
54,2014,751115.0,80982500.0,17796.0,24215976.0,99746766.0,27128337.0,10940.0
55,2015,755031.0,81686611.0,17794.0,24850912.0,102471895.0,28127721.0,11185.0
56,2016,759087.0,82348669.0,17816.0,25501941.0,105293228.0,29154746.0,11437.0
57,2017,763252.0,82657002.0,17837.0,26169542.0,108197950.0,30208628.0,11682.0
58,2018,785514.0,82905782.0,17864.0,26846541.0,111129438.0,31273533.0,11924.0
59,2019,798753.0,83092962.0,17916.0,27533134.0,114120594.0,32353588.0,12132.0
60,2020,797202.0,83160871.0,17972.0,28225177.0,117190911.0,33428486.0,12315.0
61,2021,804567.0,83196078.0,18024.0,28915653.0,120283026.0,34503774.0,12511.0
62,2022,808726.0,83797985.0,18055.0,29611714.0,123379924.0,35588987.0,12668.0
63,2023,813834.0,84482267.0,18058.0,30325732.0,126527060.0,36684202.0,12780.0